* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #25315B;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
    background: #f6f5fa;
    color: #25315B;
}

.diary {
    position: relative;
    padding-left: 250px;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    background-color: #fff;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.03);
}

.aside__logo {
    display: block;
    padding: 15px 47px;
    border-bottom: 1px solid #EBEFF2;
}

/*Beg  small aside menu */

.small .aside span,
.small  .aside__exit,
.aside__item_search,
.aside__item_notif {
    display: none;
}

.small .aside__settings {
    margin-bottom: 120px;
}

.small .aside__logo::after {
    content: 'S';
}

.small .aside__item {
    height: 56px;
}

.small .aside__item_books {
    height: 76px;
}

.small .arrow-left {
    padding-bottom: 40px;
}

.small .arrow-left::before {
    transform: rotate(180deg);
}

.small .aside {
    width: 95px;
}

.small.diary {
    padding-left: 95px;
}

/* small aside menu  End*/

.aside__size {
    margin: 40px 0;
}

.aside__size,
.aside__item,
.aside__settings {
    padding: 18px 15px 18px 75px;
    cursor: pointer;
    position: relative;
    transition: all 0.1s ease-out;
}

.aside__item:hover {
    background-color:rgb(111, 137, 189, 0.08);
    border-right: 3px solid #3175D6;
}


.aside__settings {
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
}

.aside__exit {
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    padding: 15px 66px;
    border: 1px solid #25315B;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    background-color: #fff;
    margin: 3px 40px 50px 40px;
}

.aside__size::before,
.aside__item::before,
.aside__settings::before {
    content: '';
    position: absolute;
    left: 40px;
    top: 18px;
    width: 20px;
    height: 20px;
}

.arrow-left::before {
    background: url('../icons/arrow-left.svg') 0 0 no-repeat;
}

.aside__item_house::before {
    background: url('../icons/house.svg') 0 0 no-repeat;
    top: 15px;
}

.aside__item_diary::before {
    background: url('../icons/diary.svg') 0 0 no-repeat;
}

.aside__item_calendar::before {
    background: url('../icons/calendar.svg') 0 0 no-repeat;
}

.aside__item_check::before {
    background: url('../icons/check.svg') 0 0 no-repeat;
}

.aside__item_lock::before {
    background: url('../icons/lock.svg') 0 0 no-repeat;
}

.aside__item_cols::before {
    background: url('../icons/cols.svg') 0 0 no-repeat;
    top: 14px;
}

.aside__item_books::before {
    background: url('../icons/books.svg') 0 0 no-repeat;
    top: 28px;
}

.aside__item_search::before {
    background: url('../icons/search.svg') 0 0 no-repeat;
}

.aside__item_notif::before {
    background: url('../icons/notif.svg') 0 0 no-repeat;
}

.aside__settings_settings::before {
    background: url('../icons/settings.svg') 0 0 no-repeat;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #EBEFF2;
}

.header__wrapper {
    max-width: 1189px;
    display: flex;
    justify-content: space-between;
    padding: 8px 25px 7px 77px;
}

.header__logo {
    line-height: 40px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.header__item {
    margin-right: 15px;
    cursor: pointer;
}

.header__search,
.header__notif {
    background: url('../icons/search.svg') 0 0 no-repeat;
    width: 19px;
    height: 18px;
}

.header__search {
    margin-left: 35px;
}

.header__notif {
    background: url('../icons/notif.svg') 0 0 no-repeat;
    margin-right: 50px;
    margin-bottom: 5px;
}

.header__profile-name {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.header__profile {
    width: 44px;
    height: 44px;
}

.header__active {
    padding-top: 3px;
    font-weight: bold;
    border-bottom: 3px solid #6CFFD5;
}

.header__night.header__active {
    color: #DDE2FF;
}

.main {
    padding: 30px 30px 40px 30px;
    background: #f6f5fa;
    display: flex;
    flex-wrap: wrap;
}

.main__block {
    width: 638px;
    min-height: 340px;
    border-radius: 15px;
    background-color: #fff;
    margin: 10px;
    padding: 35px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
}

.main__block:nth-child(2), 
.main__block:nth-child(3) {
    width: 450px;
}

.main__block:first-child {
    background: url(../img/bg/block1.svg) bottom 45px right 20px no-repeat, #fff;
}

.main__block:last-child {
    background: url(../img/bg/block4.svg) bottom 30px right -35px no-repeat, #fff;
}

.main__block::before {
    content: '';
    position: absolute;
    top: 30px;
    right: 35px;
    width: 20px;
    height: 20px;
    background: url(../icons/pencil.svg) 0 0 no-repeat;
    cursor: pointer;
}

.main__title {
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
}

.main__goals {
    margin-bottom: 25px;
}

.main__check-left:not(:last-child) {
    margin-bottom: 13px;
}

.main__check-left {
    padding-left: 35px;
    position: relative;
    cursor: pointer;
}

.main__check-left::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 20px;
    background: url("../icons/checkbox.png") 0 0 no-repeat;
    left: 0;
    top: 0;
}

.main__checked::before {
    background: url("../icons/checked.svg") 0 0 no-repeat;
}

.main__insight p {
    max-width: 321px;
    font-size: 16px;
    line-height: 20px;
}

.main__habit:not(:last-child) {
    margin-bottom: 8px;
}

.main__habit {
    display: flex;
    justify-content: space-between;
}

.main__check-container {
    display: flex;
}

.main__check {
    width: 21px;
    height: 20px;
    background: url("../icons/checkbox.png") 0 0 no-repeat;
    margin-left: 8px;
    cursor: pointer;
}

.main__check.main__checked {
    background: url("../icons/checked.svg") 0 0 no-repeat;
}

/* Dark Mode */

.darkMode .main__day,
.main__night {
    display: none;
}

.darkMode .main__night {
    display: block;
}

body.darkMode,
.darkMode .main {
    background-color: #26325b;
}

body.darkMode,
.darkMode a {
    color: #DDE2FF;
}

.darkMode .header,
.darkMode .aside,
.darkMode .main__block {
    background-color:#384363;
}

.darkMode .aside__logo,
.darkMode .header {
    border-color:#435076;
}

.darkMode .aside__item:hover {
    background-color: #3c526c;
    border-right: 3px solid #6CFFD5;
}

.darkMode .aside__exit {
    border-color: #DDE2FF;
    color: #DDE2FF;
    background-color: #435076;
}

.darkMode .arrow-left::before {
    background-image: url('../icons/dark/arrow-left.svg');
}

.darkMode .aside__item_house::before {
    background-image: url('../icons/dark/house.svg');
}

.darkMode .aside__item_diary::before {
    background-image: url('../icons/dark/diary.svg');
}

.darkMode .aside__item_calendar::before {
    background-image: url('../icons/dark/calendar.svg');
}

.darkMode .aside__item_check::before {
    background-image: url('../icons/dark/check.svg');
}

.darkMode .aside__item_lock::before {
    background-image: url('../icons/dark/lock.svg');
}

.darkMode .aside__item_cols::before {
    background-image: url('../icons/dark/cols.svg');
}

.darkMode .aside__item_books::before {
    background-image: url('../icons/dark/books.svg');
}

.darkMode .aside__settings_settings::before {
    background-image: url('../icons/dark/settings.svg');
}

.darkMode .main__block::before {
    background-image: url(../icons/dark/pencil.svg);
}

.darkMode .main__block:first-child {
    background: 
    url(../img/bg/dark/block1.svg) bottom 80px right 30px no-repeat,
    url(../img/bg/dark/circles.svg) bottom 40px right no-repeat,
    #384363;
}

.darkMode .main__block:last-child {
    background: url(../img/bg/dark/block4.svg) bottom 62px right 24px no-repeat, #384363;
}

.darkMode .main__checked::before,
.darkMode .main__check.main__checked {
    background-image: url("../icons/dark/checked.svg");
}

.darkMode .header__search,
.darkMode .aside__item_search::before {
    background-image: url('../icons/dark/search.svg');
}
.darkMode .header__notif,
.darkMode .aside__item_notif::before {
    background-image: url('../icons/dark/notif.svg');
}

.main__task {
    display: flex;
}

.main__star-container {
    display: flex;
    justify-content: space-between;
}

.main__star-container {
    display: inline-block;
    margin-right: 9px;
}

.main__label {
    display: inline-block;
}

.main__star {
    display: inline-block;
    width: 21px;
    height: 20px;
    background: url("../icons/dark/star.svg") 0 0 no-repeat;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.main__star.main__checked {
    background: url("../icons/dark/star-checked.svg") 0 0 no-repeat;
}

.main__improve {
    margin-top: 20px;
}

.main__achs {
    margin: 18px 0;
}

.main__job-lvl .main__check-container,
.main__life-lvl .main__check-container {
    justify-content: start;
}

.main__job-lvl .main__check:first-child,
.main__life-lvl .main__check:first-child {
    margin-left: 0px;
}

.main__job-lvl .main__title {
    width: 230px;
}

.main__life-lvl {
    margin-top: 35px;
}





