* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
    background: #f6f5fa;
}

.diary {
    position: relative;
    padding-left: 250px;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    background-color: #fff;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.03);
}

.aside__logo {
    display: block;
    padding: 15px 47px;
    border-bottom: 1px solid #EBEFF2;
}

.aside__size {
    margin: 40px 0;
}

.aside__size,
.aside__item,
.aside__settings {
    padding: 18px 15px 18px 75px;
    cursor: pointer;
    position: relative;
    transition: all 0.1s ease-out;
}

.aside__item:hover {
    background-color:rgb(111, 137, 189, 0.08);
}


.aside__settings {
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
}

.aside__exit {
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    padding: 15px 60px;
    border: 1px solid #25315B;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #25315B;
    background-color: #fff;
    margin: 3px 40px 50px 40px;
}

.aside__size::before,
.aside__item::before,
.aside__settings::before {
    content: '';
    position: absolute;
    left: 40px;
    top: 18px;
    width: 20px;
    height: 20px;
}

.arrow-left::before {
    background: url('../icons/arrow-left.svg') 0 0 no-repeat;
}

.aside__item_house::before {
    background: url('../icons/house.svg') 0 0 no-repeat;
    top: 12px;
}

.aside__item_diary::before {
    background: url('../icons/diary.svg') 0 0 no-repeat;
}

.aside__item_calendar::before {
    background: url('../icons/calendar.svg') 0 0 no-repeat;
}

.aside__item_check::before {
    background: url('../icons/check.svg') 0 0 no-repeat;
}

.aside__item_lock::before {
    background: url('../icons/lock.svg') 0 0 no-repeat;
}

.aside__item_cols::before {
    background: url('../icons/cols.svg') 0 0 no-repeat;
    top: 14px;
}

.aside__item_books::before {
    background: url('../icons/books.svg') 0 0 no-repeat;
    top: 28px;
}

.aside__settings_settings::before {
    background: url('../icons/settings.svg') 0 0 no-repeat;
}

.header {
    background-color: #fff;
}

.header__wrapper {
    max-width: 1189px;
    display: flex;
    justify-content: space-between;
    padding: 8px 25px 8px 77px;
}

.header__logo {
    line-height: 40px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #25315B;
}

.header__item {
    margin-right: 15px;
    cursor: pointer;
}

.header__search,
.header__notif {
    background: url('../icons/search.svg') 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.header__search {
    margin-left: 35px;
}

.header__notif {
    background: url('../icons/notif.svg') 0 0 no-repeat;
    margin-right: 50px;
}

.header__profile-name {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.header__profile {
    width: 44px;
    height: 44px;
}

.header__active {
    padding-top: 3px;
    font-weight: bold;
    border-bottom: 3px solid #6CFFD5;
}

.main {
    padding: 30px 30px 40px 30px;
    background: #f6f5fa;
    display: flex;
    flex-wrap: wrap;
}

.main__block {
    width: 638px;
    height: 340px;
    border-radius: 15px;
    background-color: #fff;
    margin: 10px;
    padding: 35px;
}

.main__block:nth-child(2), 
.main__block:nth-child(3) {
    width: 450px;
}








